:root {
  --blue-color: #04bfbf;
  --green-color: #a0a603;
  --white-color: #f2e0c9;
  --background-color: #025959;
  --square-color: #038787;
  --menu-color: #038695;
  --modal-color: #025159;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #ffffff;
}

body {
  background-color: var(--background-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*
========================
SHARED-CSS
========================
*/
.grid-square {
  background-color: var(--square-color);
  z-index: 1;
  font-size: 3rem;
}

.grid-square:hover {
  cursor: pointer;
  opacity: 0.9;
}

.grid-square,
.stat-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.grid-square,
.stat-bar,
button {
  border-radius: 10px;
}

button {
  color: #ffffff;
}

button:hover {
  cursor: pointer;
  opacity: 0.9;
}

p {
  font-size: 0.9rem;
}

a {
  color: var(--green-color);
}

/*
========================
TOGGLE ATTRIBUTE
========================
*/

.hidden {
  display: none !important;
}

.border-expanded {
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
}

.blue {
  color: var(--blue-color);
}

.green {
  color: var(--green-color);
}

/*
========================
ANIMATION & TRANSFORM
========================
*/

@keyframes turn-icon-animation {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes turn-text-animation {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 100%;
    transform: translateX(0px);
  }
}

.reverse-direction {
  transform: rotate(180deg);
}

/*
========================
GRID SQUARES STYLE
========================
*/

.grid-container {
  display: grid;
  grid-template-rows: 50px repeat(3, 80px) 60px;
  grid-template-columns: repeat(3, 80px);
  gap: 5px;
  position: relative;
}

.turn {
  grid-area: 1 / 1 / 2 / 3;
}

.action-menu {
  grid-area: 1 / 3 / 2 / 4;
}

/*
========================
ACTION BUTTON
========================
*/

.action-menu {
  position: relative;
}

.menu-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: none;
  width: 100%;
  height: 100%;
  background-color: var(--menu-color);
  font-size: 0.9rem;
}

/*
========================
TURN DISPLAY
========================
*/

.turn {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--background-color);
}

.turn i {
  padding: 10px;
  font-size: 1.8rem;
  animation: 0.6s ease-in-out turn-icon-animation;
}

.turn p {
  padding: 10px;
  animation: 0.6s ease-in-out turn-text-animation;
}

/*
========================
ACTION MODAL
========================
*/

.action-modal {
  display: flex;
  flex-direction: column;
  background-color: var(--menu-color);
  position: absolute;
  top: 60px;
  width: 100%;
  z-index: 2;
  border-radius: 2px;
  padding: 10px;
  border: none;
}

.action-modal button {
  border: none;
  text-align: center;
  background-color: var(--menu-color);
  padding: 8px;
  font-size: 0.9rem;
}

.action-modal button:hover {
  text-decoration: underline;
  cursor: pointer;
}

/*
========================
STATS
========================
*/

.stat-bar {
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, 1);
}

.header {
  font-weight: 600;
}

.stat {
  font-size: 0.7rem;
  font-weight: 400;
  margin-top: 3px;
}

#player-1 {
  background-color: var(--blue-color);
}

#player-2 {
  background-color: var(--green-color);
}

#ties {
  background-color: var(--white-color);
}

/*
   ========================
   RESULT MODAL
   ========================
 */

.result-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* background-color: rgba(2,89,89,0.8); */
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 150px;
  background-color: var(--modal-color);
  border-radius: 20px;
  position: fixed;
  gap: 20px;
}

.result-modal button {
  background-color: var(--blue-color);
  color: rgba(0, 0, 0, 1);
  font-weight: 100px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
}

/*
========================
ATTRIBUTION
========================
*/

.attribution {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.attribution p {
  margin-top: 10px;
}

.me {
  color: var(--blue-color);
}

/*
========================
BREAKPOINTS
========================
*/

@media (min-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-rows: 50px repeat(3, 150px) 60px;
    grid-template-columns: repeat(3, 150px);
    gap: 20px;
  }

  .action-modal button {
    text-align: start;
  }
}
